<header class="m-3">
    <h1>Lista do Mercado</h1>
    <p>Mostrando a lista do mercado deste navegador.</p>
</header>

<table class="table font-monospace">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Marca</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let p of viewedProducts; index as i" 
            [class.text-decoration-line-through]="!p.isPending"
        >
            <td>
                <app-product-selection-button
                    [isProductSelected]="p.isSelected"
                    (newIsProductSelectedEvent)="toggleProductPropById('isSelected', p.id)"
                ></app-product-selection-button>
            </td>
            <td class="text-wrap">{{ p.name }}</td>
            <td class="text-wrap">{{ p.brand }}</td>            
            <td>
                <app-product-pendency-button
                    [isProductPending]="p.isPending"
                    (newIsProductPendingEvent)="toggleProductPropById('isPending', p.id)"
                ></app-product-pendency-button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!hasProductsToShow()">
    Nenhum produto para mostrar conforme a opção de filtro.
</div>

<app-command></app-command>