<footer class="row footer border-top border-2 mt-auto py-3 bg-body-tertiary" role="toolbar">

    <div class="col-1 btn-toolbar" role="actions">
        <div class="btn-group dropup" role="group">
            <button type="button" class="btn" data-bs-toggle="dropdown">
                <fa-icon [icon]="faPen"></fa-icon>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <a class="btn" routerLink="../newproduct">Adicionar</a>
                </li>
                <li class="dropdown-item">
                    <a class="btn" routerLink="../remove">Remover Todos</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-1 btn-toolbar">
        <div class="btn-group dropup" role="group">
            <button type="button" class="btn" data-bs-toggle="dropdown">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <app-filter-button [type]="filterBtnSelected"></app-filter-button>
                </li>
                <li class="dropdown-item">
                    <app-filter-button [type]="filterBtnPending"></app-filter-button>
                </li>
                <li class="dropdown-item">
                    <app-filter-button [type]="filterBtnDefault"></app-filter-button>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-1 btn-toolbar">
        <div class="btn-group dropup" role="group">
            <button type="button" class="btn" data-bs-toggle="dropdown">
                <fa-icon [icon]="faFile"></fa-icon>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <app-import-file-input></app-import-file-input>
                </li>
                <li class="dropdown-item">
                    <app-export-file-button></app-export-file-button>
                </li>
                <li class="dropdown-item">
                    <app-export-file-button exportProductsFrom="view"></app-export-file-button>
                </li>
            </ul>
        </div>
    </div>

</footer>