<header class="m-3">
    <h1>Lista do Mercado</h1>
    <p>Mostrando a lista do mercado deste navegador.</p>
</header>

<table class="table font-monospace">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Marca</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let p of viewedProducts; index as i" 
            [class.text-decoration-line-through]="!p.isPending"
        >
            <th scope="row">{{ i+1 }}</th>
            <td>
                <app-product-selection-button
                    [isProductSelected]="p.isSelected"
                    (newIsProductSelectedEvent)="toggleProductSelectionById(p.id)"
                ></app-product-selection-button>
            </td>
            <td class="text-wrap">{{ p.name }}</td>
            <td class="text-wrap">{{ p.brand }}</td>            
            <td>
                <app-toggle-product-pendency-button
                    [isProductPending]="p.isPending"
                    (newIsProductPendingEvent)="toggleProductPendingById(p.id)"
                ></app-toggle-product-pendency-button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!hasProductsToShow()">
    Nenhum produto para mostrar conforme a opção de filtro.
</div>

<app-file-input
    (newFileDataAsStringEvent)="setProductsByImportedData($event)"
></app-file-input>

<app-filter-buttons 
    [allProducts]="marketList.products"
    (newViewedProductsEvent)="setProductsViewed($event)"
></app-filter-buttons>

<button
    type="button"
    class="btn btn-primary"
    (click)="toggleIsAddProductModal(true)"
>Adicionar produto</button>

<app-add-product-modal
    [marketList]="marketList"
    [isModalOpen]="isAddProductModalOpen"
    (closeModalEvent)="toggleIsAddProductModal(false)"
    (newProductEvent)="updateView()"
></app-add-product-modal>

<!-- <button type="button" class="m-2" (click)="storeMarketList()">
    Salvar lista
</button> -->

<!-- <button type="button" class="m-2" (click)="removeStoredMarketList()">
    Deletar todos os produtos
</button> -->

