<footer class="fixed-bottom border-top border-2 footer mt-auto py-3 bg-body-tertiary">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group dropup" role="group">
            <button type="button" class="btn px-3" data-bs-toggle="dropdown">
                <fa-icon class="fs-1" [icon]="faFileArrowDown"></fa-icon>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div class="dropdown-item">
                        <app-import-file-input></app-import-file-input>
                    </div>
                </li>
                <li>
                    <div class="dropdown-item">
                        <app-export-file-button></app-export-file-button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>

<!-- <app-filter-buttons 
    [allProducts]="marketList.products"
    (newViewedProductsEvent)="setProductsViewed($event)"
></app-filter-buttons> -->

<!-- <app-add-product-modal
    [marketList]="marketList"
    [isModalOpen]="isAddProductModalOpen"
    (closeModalEvent)="toggleIsAddProductModal(false)"
></app-add-product-modal> -->

<!-- <button
    type="button"
    class="btn btn-primary"
    (click)="toggleIsAddProductModal(true)"
>Adicionar produto</button> -->

<!-- <div>
    <button type="button" class="m-2" (click)="storeMarketList()"
    >Salvar lista</button>
    
    <button type="button" class="m-2" (click)="removeStoredMarketList()"
    >Deletar todos os produtos</button>
</div> -->
