<div class="container">
    <header class="mt-3">
        <h1>Novo produto</h1>
        <p>Adicione um novo produto na sua lista.</p>
        <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="returnPage()"
        >Voltar</button>
    </header>
    
    <form class="form mt-3" [formGroup]="form" (submit)="submit()">
        <div class="form-group">
            <label for="name" class="form-label">Nome</label>
            <input type="text" class="form-control" name="name" id="name" formControlName="name">
        </div>
        <div class="form-group mt-3">
            <label for="amount" class="form-label">Quantidade</label>
            <input type="text" class="form-control" name="amount" id="amount" formControlName="amount">
        </div>
        <div class="form-group mt-3">
            <label for="type" class="form-label">Tipo</label>
            <div class="input-group">
                <input type="text" class="form-control" name="type" id="type" formControlName="type">
                <button
                    class="btn btn-dark dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                >Opções</button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li
                    *ngFor="let t of productTypesOptions"
                    class="dropdown-item"
                    (change)="updateTypeFieldBySelectedProductType($event)"
                  >{{ t }}</li>
                </ul>
            </div>
        </div>
        <div class="mt-4">
            <button type="submit"
                class="btn btn-primary"
                [disabled]="form.invalid"
            >Adicionar</button>
            <button
                class="btn btn-secondary ms-2"
                type="button"
                (click)="returnPage()"
            >Voltar</button>
        </div>
    </form>
</div>